{{define "input_rule"}}
<div id="mpanel2">
    <div class="cerify-code-panel">
        <div class="verify-code mx-auto">
            <img src="{{ .RuleImage| imageToBase64 |url}}" id="rule-image"/>
        </div>
    </div>
    <div class="verify-code-area mx-auto" style="width: 400px;">
        <div class="col-auto verify-input-area">
            <label for="verify-code-input" class="form-label" id="hint">请输入验证码</label>
            <input type="text" class="form-control varify-input-code" id="verify-code-input">
            <button type="button" id="check-btn" class="verify-btn btn btn-primary mb-3">确认</button>
        </div>
        <!--        <div class="verify-input-area mx-auto">-->
        <!--            <input type="text" class="varify-input-code">-->
        <!--            <button type="button" id="check-btn" class="verify-btn btn btn-primary">Confirm</button>-->
        <!--        </div>-->

        <!--        <div class="verify-change-area">-->
        <!--            <a class="verify-change-code btn btn-primary">换一张</a>-->
        <!--        </div>-->
    </div>
</div>

<script>
    $('#mpanel2').codeVerify({
        defaultNum: 4,	//默认的文字数量
        checkNum: 2,	//校对的文字数量
        vSpace: 5,	//间隔
        imgSize: {
            width: '200px',
            height: '100px',
        },
        barSize: {
            width: '600px',
            height: '40px',
        },
        ready: function () {
        },
        success: redirect,

        error: function () {
//		        	alert('验证失败！');
        }

    });
</script>
{{end}}